<nz-content>

   

        <div class="inner-content">
            <div class="flex flex-col w-full p-0" style="position: relative">
                <ngx-spinner bdColor="rgba(0,0,0,0.3)" color="#fff" type="ball-clip-rotate-multiple" size="large" [fullScreen]="false">
                    <p style="color: white;margin-top: 30px;">Loading Datas...</p>
                    <!--if fullscreen false  Your parent container(div) should have position: relative;  -->
                </ngx-spinner>

                <div class="flex flex-col card w-full bg-fuchsia-50 rounded-md shadow h-100">
                    <div class="flex flex-row w-full">
                        <div class="flex">
                            <div class="flex-shrink-0 p-2">
                                <div class="flex items-center justify-center h-12 w-12 rounded-full bg-indigo-500 text-white">
                                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                                    </svg>
                                </div>
                            </div>
                            <div class="flex w-full">
                                <div class="ml-4 mt-2">
                                    <dt class="text-lg leading-6 font-medium text-gray-900">
                                        ข้อมูลทั่วไป
                                    </dt>
                                    <dd class="mt-0 text-base text-gray-500">
                                        Patient Infomations
                                    </dd>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div class="border rounded-md ml-10 mr-4 border-violet-500 mb-2 grid p-3" *ngFor="let w of dataSetWaitingInfo">
                            <div class="flex flex-wrap gap-x-3">
                                <div class="font-bold text-gray-600"> HN :</div><div> {{w.hn}}</div>
                                <div class="font-bold text-gray-600"> AN :</div><div> {{w.an}}</div>
                                <div class="font-bold text-gray-600"> ชื่อ-สกุล :</div><div> {{w.title}}{{w.fname}} {{w.lname}}</div>
                                <div class="font-bold text-gray-600"> เพศ :</div><div> {{w.gender}}</div>
                                <div class="font-bold text-gray-600"> อายุ :</div><div> {{w.age}}</div>
                                <div class="font-bold text-gray-600"> อาชีพ :</div><div> {{w.occupation}}</div>
                            </div>
                            <div class="flex flex-wrap gap-x-4 ">
                                <div class="font-bold text-gray-600"> ที่อยู่ :</div><div> {{w.address}}</div>
                                <div class="font-bold text-gray-600"> เบอร์โทร :</div><div> {{w.phone}}</div>
                            </div>
                            <div class="flex flex-wrap gap-x-4">
                                <div class="font-bold text-gray-600"> สิทธิการรักษา :</div><div> {{w.inscl_name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col card w-full bg-fuchsia-50 rounded-md shadow h-100 mt-2">
                    <div class="flex flex-row w-full">
                        <div class="flex">
                            <div class="flex-shrink-0 p-2">
                                <div class="flex items-center justify-center h-12 w-12 rounded-full bg-indigo-500 text-white">
                                    <i class="fa-solid fa-head-side-cough"></i>
                                </div>
                            </div>
                            <div class="flex w-full">
                                <div class="ml-4 mt-2">
                                    <dt class="text-lg leading-6 font-medium text-gray-900">
                                        ข้อมูลการเจ็บป่วย
                                    </dt>
                                    <dd class="mt-0 text-base text-gray-500">
                                        Illness information
                                    </dd>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col" *ngFor="let x of dataSetReview">

                        <div class="border rounded-md ml-10 mr-4 border-violet-500 mb-2 grid p-3">
                            <div class="flex flex-wrap gap-x-3">
                                <div class="font-bold text-gray-600"> CC :</div><div> {{x.chief_complaint}}</div>
                                <div class="font-bold text-gray-600"> PE :</div><div> {{x.physical_exam}}</div>
                                <div class="font-bold text-gray-600"> Diag text :</div><div> {{preDiag}}</div>

                            </div>
                            <div class="flex flex-wrap gap-x-4 ">
                                <div class="font-bold "> Temp. :</div><div> {{x.body_temperature}}</div>
                                <div class="font-bold"> Weight :</div><div> {{x.body_weight}}  kg. </div>
                                <div class="font-bold "> Height :</div><div> {{x.body_height}} cm. </div>
                                <div class="font-bold "> Waist:</div><div> {{x.waist}} cm. </div>
                                <div class="font-bold "> BP. :</div><div> {{x.systolic_blood_pressure}} / {{x.diatolic_blood_pressure}}</div>
                                <div class="font-bold "> Pulse  :</div><div> {{x.pulse_rate}}</div>
                                <div class="font-bold "> RR. :</div><div> {{x.respiratory_rate}}</div>
                                <div class="font-bold "> OSat :</div><div> {{x.oxygen_sat}}</div>
                            </div>
                            <div class="flex flex-wrap gap-x-4">
                                <div class="font-bold"> Doctor By :</div><div> {{doctorBy}}</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="flex flex-col card w-full bg-fuchsia-50 rounded-md shadow h-100 mt-2">
                    <div class="flex flex-row w-full">
                        <div class="flex">
                            <div class="flex-shrink-0 p-2">
                                <div class="flex items-center justify-center h-12 w-12 rounded-full bg-indigo-500 text-white">
                                    <i class="fa-solid fa-user-doctor"></i>
                                </div>
                            </div>
                            <div class="flex w-full">
                                <div class="ml-4 mt-2">
                                    <dt class="text-lg leading-6 font-medium text-gray-900">
                                        แพทย์เจ้าของไข้
                                    </dt>
                                    <dd class="mt-0 text-base text-gray-500">
                                        Doctor
                                    </dd>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col" *ngFor="let x of dataSetReview">

                        <div class="border rounded-md ml-10 mr-4 border-violet-500 mb-2 grid p-3">
                            <div class="flex w-full">
                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue" >
                                    <div *ngFor="let data of doctors">
                                      <nz-option nzLabel="{{data.fname}}  {{data.lname}}" nzValue="{{data.user_id}}"></nz-option>
                                    </div>
                                  </nz-select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="flex flex-col card w-full bg-fuchsia-50 rounded-md shadow h-100 mt-2">
                    <div class="flex flex-row w-full">
                        <div class="flex">
                            <div class="flex-shrink-0 p-2">
                                <div class="flex items-center justify-center h-12 w-12 rounded-full bg-indigo-500 text-white">
                                    <i class="fa-solid fa-house-user"></i>
                                </div>
                            </div>
                            <div class="flex w-full">
                                <div class="ml-4 mt-2">
                                    <dt class="text-lg leading-6 font-medium text-gray-900">
                                        เลือกตึกผู้ป่วย
                                    </dt>
                                    <dd class="mt-0 text-base text-gray-500">
                                        Patient Building
                                    </dd>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full">
                        <nz-collapse>
                            <nz-collapse-panel *ngFor="let panel of panelsWard" [nzHeader]="panel.name"
                                [nzActive]="panel.active" [nzDisabled]="panel.disabled">
                                <div class="flex flex-wrap  rounded-md  border-violet-500">
                                    <div *ngFor="let ward of wards" class="m-1 pl-5 pr-5">
                                        <button nz-button class=" bg-emerald-100 text-black border-green-300 content-center items-center"
                                            nzType="primary" (click)="setWard(ward);" [nzSize]="'default'" nzShape="round">
                                            <i class="fa-solid fa-building-user text-green-700 hover:text-white"></i>&nbsp;
                                            {{ward.name}}
                                        </button>
                                    </div>
                                </div>
                            </nz-collapse-panel>
                        </nz-collapse>
                    </div>
                </div>

                <div class="flex flex-col card w-full bg-fuchsia-50 rounded-md shadow h-100 mt-2">
                    <div class="flex flex-row w-full">
                        <div class="flex">
                            <div class="flex-shrink-0 p-2">
                                <div class="flex items-center justify-center h-12 w-12 rounded-full bg-indigo-500 text-white">
                                    <i class="fa-solid fa-bed-pulse"></i>
                                </div>
                            </div>
                            <div class="flex w-full">
                                <div class="ml-4 mt-2">
                                    <dt class="text-lg leading-6 font-medium text-gray-900">
                                        เลือกเตียง
                                    </dt>
                                    <dd class="mt-0 text-base text-gray-500">
                                        Active Bed
                                    </dd>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full">
                        <nz-collapse>
                            <nz-collapse-panel *ngFor="let panel of panelsBed" [nzHeader]="panel.name" [nzActive]="panel.active"
                                [nzDisabled]="panel.disabled">
                                <div class="flex flex-wrap rounded-md ">
                                    <div *ngFor="let bed of beds" class="m-1 pl-5 pr-5">
                                        <button nz-button class=" bg-emerald-100 text-black border-green-300 content-center items-center"
                                            nzType="primary" (click)="setBed(bed);" [nzSize]="'default'" nzShape="round">
                                            <i class="fa-solid fa-bed-pulse text-green-700 hover:text-white"></i>&nbsp;
                                            {{bed.name}}
                                        </button>
                                    </div>
                                </div>
                            </nz-collapse-panel>
                        </nz-collapse>
                    </div>
                </div>
                
                <div class="flex w-full justify-center row m-1 pl-5 pr-5 mt-4 gap-x-10">
                    <!-- <button class="mr-2" nz-button nzType="primary" [nzSize]="'large'" (click)="showModal();"><span nz-icon
                        nzType="save" nzTheme="outline"></span>บันทึก</button> -->

                    <button *ngIf="btnSaveIsVisible"
                        nz-popconfirm
                        nzPopconfirmTitle="คุณต้องการบันทึก.."
                        (nzOnConfirm)="saveRegister()"
                        (nzOnCancel)="cancel()"
                        nz-button
                        [nzSize]="'large'"
                        nzShape="round"
                        nzType="primary"
                        class="w-56">
                        <span nz-icon
                            nzType="save" nzTheme="outline"></span>บันทึก
                    </button>

                    <button nz-button nzType="primary" [nzSize]="'large'"
                        (click)="navigateWaiting();" nzShape="round" class="w-40 bg-cyan-200"><span nz-icon nzType="undo"
                            nzTheme="outline" class></span>ยกเลิก</button>
                </div>
            </div>
        </div>
   
</nz-content>

<nz-modal [(nzVisible)]="isVisible" nzTitle="แจ้งเตือน" nzOkText="Ok" nzCancelText="Cancel" (nzOnOk)="handleOk()"
    (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>
        <p>ต้องการบันทึกข้อมูล ใช่หรือไม่</p>
    </ng-container>
</nz-modal>